<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="NotificationPermission">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.VideoPlayer">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".app.MainActivity"
            android:theme="@style/Theme.VideoPlayer.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".settings.UserAgreementActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity android:name=".settings.SettingsComposeActivity" />
        <activity
            android:name=".download.ui.DownloadActivity"
            android:theme="@style/Theme.VideoPlayer.TransparentOverlay" />
        <activity android:name=".download.ui.BilibiliDownloadActivity" />
        <activity android:name=".settings.PlaybackSettingsComposeActivity" />
        <activity android:name=".history.ui.PlaybackHistoryComposeActivity" />
        <activity android:name=".history.ui.HistoryComposeActivity" />
        <activity android:name=".danmaku.ui.BiliBiliDanmakuComposeActivity" />
        <activity android:name=".subtitle.ui.SubtitleSearchActivity" />
        <activity android:name=".settings.AboutComposeActivity" />
        <activity android:name=".settings.LicenseActivity" />
        <activity android:name=".settings.FeedbackActivity" />
        <activity 
            android:name="com.android.kiyori.manager.compose.BiliBiliLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity 
            android:name=".bilibili.ui.BiliBiliPlayActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity 
            android:name=".media.ui.LocalMediaBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".remote.ui.RemotePlaybackInputActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity
            android:name=".remote.ui.RemotePlaybackHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity
            android:name=".browser.ui.BrowserActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.VideoPlayer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browser.ui.BrowserBookmarksActivity"
            android:exported="false"
            android:theme="@style/Theme.VideoPlayer" />
        <activity 
            android:name=".media.ui.VideoListComposeActivity"
            android:exported="false" />
        <activity 
            android:name=".webdav.WebDavComposeActivity"
            android:exported="false" />
        <activity 
            android:name=".webdav.WebDavFileBrowserActivity"
            android:exported="false" />
        <activity 
            android:name=".player.ui.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <!-- 支持从文件管理器等外部应用打开视频文件 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="application/x-matroska" />
            </intent-filter>
            
            <!-- 支持从浏览器等打开网络视频链接 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            
            <!-- 支持分享功能 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>

